* {
  margin: 0;
  font: inherit;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  --white: #fff;
  --black: #000;
  background: var(--white);
  color: var(--black);
}

.section {
  border-bottom: solid 1px var(--black);
}

.text-uppercase {
  text-transform: uppercase;
}

/* NAV BAR */

h1 {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 6vw;
}

.nav {
  background: var(--white);
  border-bottom: solid 1px var(--black);
  display: flex;
  max-height: calc(100vh / 8);
  top: 0;
  z-index: 200;
}

.nav-btn {
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 1rem;
  box-sizing: border-box;
  color: var(--black);
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2vw;
  font-weight: 300;
  margin: 0 0.3rem 0.3rem 0;
  padding: 0.35rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;
}

.nav-btn:hover {
  background-color: var(--black);
  color: var(--white);
}

.nav-menu {
  border-left: solid 1px var(--black);
  display: flex;
  flex-direction: column;
  padding: 1vw 0 1vw 1vw;
  width: calc((100vw / 10) * 5);
}

.nav-menu-row {
  align-items: center;
  display: flex;
  font-size: 1.2vw;
  justify-content: center;
}

/* COMPANIES SECTION  */

.company-list {
  display: flex;
}

.company-list-item {
  border-right: solid 1px var(--black);
  overflow-x: hidden;
  position: relative;
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  width: calc(100vw / 10);
}

.company-list-item-info {
  background: var(--white);
  cursor: pointer;
  font-size: 2.5vw;
  height: calc(100vh - 120px);
  overflow: hidden;
  padding: 20px 0 20px 0;
  position: relative;
  transform: rotate(180deg);
  transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  width: calc(100vw / 10);
  writing-mode: vertical-lr;
}

.company-list-item-info:hover,
.company-list-item--active .company-list-item-info,
.body--focusable .company-list-item-info:focus {
  background: var(--black);
  color: var(--white);
}

.company-list-item:not(.company-list-item--inactive)
  .company-list-item-info:hover
  .company-list-item-info-name,
.company-list-item--active .company-list-item-info-name {
  margin-top: 100px;
}

.company-list-item-info-location {
  font-size: 2vw;
  padding-top: 55vh;
}

.company-list-item-info-name {
  position: absolute;
  right: 3.3vw;
  top: 2vh;
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

/* COMPANIES OPEN VIEW */

.company-list-item-content {
  width: calc(70vw - (100vw / 10));
  left: calc(100vw / 10);
}

.company-list-item-content-main {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  height: calc(100% - 8vh);
  justify-content: space-evenly;
  overflow: auto;
}

.company-list-item-content-main div {
  border-bottom: solid 1px var(--black);
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  justify-content: center;
  padding-bottom: 6vh;
  padding: auto 2%;
  text-align: center;
}

.company-list-item-content-main div:last-of-type {
  border-bottom: none;
}

.company-list-item-content-link {
  border-top: solid 1px var(--black);
  color: var(--black);
  display: block;
  font-size: 2rem;
  line-height: 7.5vh;
  padding: 0rem 2rem 0.5rem 2rem;
  transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.company-list-item-content-link:hover {
  background: var(--black);
  color: var(--white);
}

.company-list-item-content-link:after {
  content: '↗';
  display: inline-block;
  height: 100%;
}

.company-list-item--inactive .company-list-item-info {
  border-right: solid 1px var(--black);
}

.company-list-item--inactive .company-list-item-info-name,
.company-list-item--inactive .company-list-item-info-location {
  right: 1.8vw;
}

.company-list-item--active {
  display: flex;
  flex-direction: row;
  width: 70vw;
}

.company-list-item--inactive {
  width: calc(30vw / 9);
}

.company-list-item--inactive:hover {
  width: calc(100vw / 10 - 4vw);
}
